<!-- <button mat-toolbar >
  <mat-icon [ngStyle]="{'color':'red'}" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<button mat-toolbar >
  <mat-icon [ngStyle]="{'color':'red'}" class="white-icon" aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
</button>

<button mat-toolbar >
    <mat-icon (click)="changeIcon('favorite')" [ngStyle]="{'color':'red'}">{{icon}}</mat-icon>
</button>

<mat-toolbar color="accent"> <span> hrishiiiiiiiiiiiiii</span>
 -->

 <app-menu></app-menu>