<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

   <div fxFlex="40">
    <div fxFlex *ngIf="dish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div> 

  
  

  <div fxFlex="40" fxLayout="row">
    <mat-card-title>
        <h3>COMMENTS</h3>
        <div class="input-row" fxLayout="row"  fxLayoutGap="20px"  >
            <mat-list *ngIf="dish">
                <mat-list-item *ngFor="let item of dish.comments" style="color:#000000">
                    <p mat-line><b>{{item.comment}}</b></p>
                    <p mat-line><b> {{item.rating}} stars </b></p>
                    <p mat-line><b> -- {{item.author}}  {{item.date | date}} 
                    </b></p>
                </mat-list-item>
              </mat-list>
        </div>
    </mat-card-title>
    
  </div>  
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading .... Please Wait !</h4>
  </div>
</div> 
 
<h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
